.homePage {
  background-color: rgb(248, 246, 246);
}
.homePage .row {
  margin-top: 3.4rem;
  margin-bottom: 2.5rem;
  padding: 2rem 1.5rem;
}

.homePage .product-image {
  background-color: #fffff1;
  box-shadow: 0.2rem 0.2rem 0.2rem #cccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePage .product-image img {
  width: 100%;
}
.product-content {
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-header {
  display: flex;
  align-items: center;
}

@media (max-width: 882px) {
  .product-content {
    padding: 2rem 0rem;
  }
}
