.homePage {
  display: flex;
  align-items: center;
  padding: 4rem;
}
.homePage .product-image {
  width: 600px;
  height: 600px;
  background-color: saddlebrown;
  box-shadow: 0.2rem 0.2rem 0.2rem #cccc;
  overflow: hidden;
  margin-right: 5rem;
}
.homePage .product-image img {
  width: 100%;
}
.product-content .product-details {
  margin-bottom: 2rem;
}
.startOrder {
  border: 2px solid sienna;
  border-left: 8px solid sienna;
  box-shadow: 0.2rem 0.2rem 0.2rem rgb(250, 238, 230);
  color: sienna;
  text-decoration: none !important;
  padding: 0.5rem 3rem;
  border-radius: 8px;
  font-size: 0.8rem;
}

.startOrder:hover {
  background-color: sienna;
  color: #fff;
}
