.customizeProductButton {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.945), rgb(0, 0, 0));
  color: #fffff1;
  outline: none !important;
  border: none !important;
  margin: 1rem auto;
}
.product-page h5 {
  font-size: 2rem;
  margin: 1rem auto;
  color: #000;
}
.product-page .row {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
