.customizeProductButton {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.945), rgb(0, 0, 0));
  color: #fffff1;
  outline: none !important;
  border: none !important;
  margin: 1rem auto;
}
.product-page h2 {
  margin-top: 4rem;
}
.product-page h5 {
  font-size: 2rem;
  margin: 1rem auto;
  color: #000;
}
.product-page .prow {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}
.gender, .custom-size-fields {
  display: flex;
}

.gender .forMen,
.gender .forWoMen,
.size-boxes .box,
.custom-size-fields .box {
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  font-weight: 700;
  cursor: pointer;
}
.gender .forMen {
  margin-right: 1rem;
}
.gender .forMen:hover,
.gender .forWoMen:hover,
.size-boxes .box:hover,
.custom-size-fields .box:hover {
  background-color: #000;
  color: #fff;
}
.size-boxes {
  display: flex;
  align-items: center;
}
.size-boxes .box,
.custom-size-fields .box {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
